footer{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 1rem 0;
    p, h6{
        text-align: center;
        margin: 0;
    }
    h6{
        color:rgb(108, 108, 108);
    }
    p{
        color: #876771;
    }
}