@import "../variable.scss";

.movie__list {
    padding: calc($base-padding*5) calc($base-padding*4);

        .list__title {
        font-size: 2rem;
        color: white;
        margin-top: 100px;
        padding: 0.5rem 2rem;
        }
        .list__cards {
            display: flex;
            flex-wrap: wrap ;
            justify-content: center;
        }
}

