@import "../variable.scss";


.row{
    margin: calc($base-padding*4) 0;
    
    h2{
        color: $font-white;
    }


    .posters {
        overflow: hidden;
        white-space: nowrap;
        overflow-x: scroll;
        padding: calc($base-padding*2) 0;
        ::-webkit-scrollbar{
            display: none !important;
        }
       ::-webkit-scrollbar-track {
        background: transparent;
       }
   
     .cards_link{
            text-decoration: none;
        
        .main-cards{
            display: inline-block;
            transition: transform .5s;
            position: relative;
            overflow: hidden;
            margin: calc($base-margin*2);
            cursor:pointer;
            z-index:0;
            box-sizing: border-box;
            &:hover{
                transform: scale(1.1);
                z-index:99;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }

            img{
                border-radius: 10px;
                height: 200px;
                @include breakpoint (medium){
                    height: 175px;
                }
                @include breakpoint (small){
                    height: 130px;
                }
            }
      }

      .overlay {
        position: absolute;
        padding: 0 1rem 1rem 1rem;
        top:0;
        height: 200px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
        justify-content: flex-end;
        background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
        opacity: 0;
        transition: opacity .2s;
        &:hover{
            opacity: 1;
        }
        @include breakpoint (medium){
            height: 175px;
        }
        @include breakpoint (small){
            height: 130px;
        }
        .title {
            color: $font-white;
            font-weight: 700;
            font-size: $font-size-regular;
        }
        .runtime {
            color: grey;
            font-size: $font-size-small;
            margin-bottom: $base-padding;
        }
    
    }   
  
  }

}

}