@import "../variable.scss";

.poster-img{
    margin-bottom: 2rem;

    img{
        display: block;
        width: 100%;
        object-fit:cover;
        height: 85vh;
    }
}

.poster-overlay{
    color: white;
    position: absolute;
    padding: calc($base-padding*10) calc($base-padding*6);
    bottom: 0;
    margin-bottom: 2rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transform: opacity 0.5s;
    &:hover{
        opacity: 1;
    }
    .poster_title{
        font-family: $title-font;
        font-weight: 800;
        font-size: 4rem;
        margin-bottom: calc($base-padding*5);
        text-align: left;
        width: 75%;

        @include breakpoint (small){
             text-align: center;
             font-size: 3rem;
             width: 100%;
        }

    }
    .poster_date{
        font-size: $font-size-xlarge;
        margin-bottom: calc($base-padding*2);
        text-align: left;
        @include breakpoint (small){
            text-align: center;
            font-size: $font-size-regular;
    }

 }
    .poster_description{
        font-size: $font-size-large;
        margin-bottom: calc($base-padding*2);
        display: flex;
        text-align: left;
        width: 60%;
        font-family: $regular-font;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
        color: rgb(164, 164, 164);
        @include breakpoint (small){
            width: 100%;
    }

 }

} 

.down-link{
    color: $font-white;
    font-size: $font-size-xlarge;
    text-align: center;
    margin: 0 auto;
    border: 1px solid red;
}