@import "../variable.scss";

.movie {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;

    .movie__intro {
        width: 100%;
    }
    .movie__backdrop {
        width: 100%;
        height: 60vh;
        object-fit:cover;

        @include breakpoint (small){
            height: 50vh;
        }
    }
    .movie__detail {
        align-items: center;
        width: 85%;
        display: flex;
        margin-top: -8rem;
        @include breakpoint (small){
            width: 90%;
            flex-direction: column;
      }
    }
    .movie__img {
        margin-right: calc($base-margin*10);
        @include breakpoint (small){
            margin-right: 0;
        }
    }
    .poster {
        width: 100%;
        max-width:18rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
        @include breakpoint (small){
           margin: 0 auto;
           max-width: 600px;
        }
    }

}


.movie__detailRight {
    color: $font-white;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content:space-between ;
    
    @include breakpoint (small){
        
    }
    .movie__detailRightTop > p{
        text-shadow: 0px 0px 10px #000000;
        margin-bottom: .5rem;
    }
   h1 {
        font-weight: 800;
        font-size: 3rem;
        padding: calc($base-padding*3) 0;
        text-shadow: 0px 0px 10px #000000;
    }
    .rating{
        color: rgb(216, 37, 37);
        text-shadow: none;
        font-weight: 700;
    }
    .voteCount {
        margin-left:  calc($base-padding*2);
        color:rgb(24, 129, 64);
        text-shadow: none;
    }
    .genres {
        margin:calc($base-margin*6) 0;
        span {
            padding: calc($base-padding*2);
            color: $font-black;
            background-color: rgb(88, 88, 88);
            color: $font-white;
            border-radius: 10px;
            margin-right: calc($base-margin*2);
            display: inline-block;
            @include breakpoint (small){
               margin: calc($base-margin*1);
            }
        }
    }

    .description{
        margin: calc($base-padding*6) 0;
        flex: 0.8;
        height: auto;
    
        p{
            font-size:$font-size-regular;
            margin-bottom: calc($base-padding*5);
            display: flex;
            position: relative;
            align-items: center;
            color: rgb(125, 125, 125);
        }
    }
}


.trailer{
    border-top: 2px solid rgb(58, 58, 58);
    border-bottom: 2px solid rgb(58, 58, 58);
    padding: calc($base-padding*8) 0;
    min-width: 85%;
    h2{
        color: $font-white;
    }
    .btn{
        margin: 0 calc($base-padding*1) ;
        font-weight: 700;
    }
}


.movie__info {
    width: 85%;
    color: $font-white;
    padding: calc($base-padding*8) 0;
    border-bottom: 2px solid rgb(58, 58, 58);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint (small){
        flex-direction: column;
    }
    .btn{
        margin: 0 calc($base-padding*1) ;
        font-weight: 700;
    }
}


.production {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: calc($base-padding*8) 0;
    color: white;

}


.company-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 calc($base-margin*3);

    img{
        width: 100%;
        max-width: 10rem;
    }
    p{
        color: rgb(88, 88, 88);
        text-align: left;
        width: 100%;
        padding-left: calc($base-padding*2);
    }
}